.italic[data-v-3a210510]{font-style:italic;font-family:Times New Roman,serif}code[data-v-3a210510]{font-family:Monaco,Menlo,Ubuntu Mono,monospace}@media(max-width:640px){.grid[data-v-3a210510]{grid-template-columns:1fr}}
